h5 { 
    font-size: 120%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: green; 
   }



   .modal {
    display: none; /* Спрячьте модальное окно по умолчанию */
    position: fixed; /* Относительно экрана */
    z-index: 1; /* Находится над всеми остальными элементами */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Добавьте прокрутку, если содержимое окна длинное */
    background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Выравнивание по центру */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  @media screen and (min-width: 980px) /* Desktop */ {
    .container-nav {
      margin: 0 auto;
      padding: 0 20px;
      width: 100%;
      background-color: #27292b;
      max-width: 1220px;
      
    }
    .main{
      max-width:800px; 
      background-color:#fa6161; 
      margin: 0 auto; 
      margin-top:20px; 
      padding:10px;
  }

  .main_low{
    max-width:800px; 
    margin: 0 auto; 
    background-color:#e4d5d5; 
    margin-top:20px; 
    padding:10px;
}
  
    .main-nav {
      flex-direction: row;
        display: flex;
      }
      
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      
      table.center {
        margin-left: auto; 
        margin-right: auto;
        width: 500px;
      }
      tr:nth-child(even) {
          background: rgb(101, 151, 103)
      }
      
      tr:nth-child(odd) {
          background: rgb(148, 50, 50)
      }
    

}
@media screen and (max-width: 500px) /* Mobile */ {
  .container-nav {
    margin: 0 ;
    width: 100%;
    max-width: 1220px;
    background-color: #27292b;
  }
  .main{
    max-width:800px; 
    background-color:#fa6161; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;
}

.main_low{
  max-width:800px; 
  margin: 0 auto;
  background-color:#e4d5d5;  
  margin-top:20px; 
  padding:10px;
}

  .main-nav {
    flex-direction: column;
      display: flex;
    }
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {

  width: 500px;
}
tr:nth-child(even) {
    background: rgb(101, 151, 103)
}

tr:nth-child(odd) {
    background: rgb(148, 50, 50)
}
 
}